$primary: #FF0101;
$grey: #808080;
$lightgrey: #f5f5f5;
$darkgrey: #282D30;

$alphawhite: rgba(255,255,255,0.5);
$lightalphawhite: rgba(255,255,255,0.3);

$calories: rgba(255, 0, 0, 0.1);
$proteines: rgba(74, 184, 255, 0.1);
$glucides: rgba(249, 206, 35, 0.1);
$lipides: rgba(253, 81, 129, 0.1);
